<!-- ################################################################################################################## -->
<!--                                        Section for general Configuration                                           -->
<!-- ################################################################################################################## -->
{% extends "main/base.project.html" %} 
    {% block title %}Dashboard{% endblock %}



    <!-- ################################################################################################################## -->
    <!--    Navigation in each Project between Default Dashboard, Kanban View, Statistics View und Project Settings         -->
    <!-- ################################################################################################################## -->
    {% block projectnavigation %}
        <ul class="nav nav-tabs nav-overflow header-tabs">
            <li class="nav-item">
                <a href="/dashboard/{{current_project['result-set-data'][0]['id']}}" class="nav-link active">Dashboard </a>
            </li>
            <li class="nav-item">
                <a href="/kanban/{{current_project['result-set-data'][0]['id']}}" class="nav-link">Kanban</a>
            </li>
            <li class="nav-item">
                <a href="/statistics/{{current_project['result-set-data'][0]['id']}}" class="nav-link">Statistik</a>
            </li>
            <li class="nav-item">
                <a href="/projectsettings/{{current_project['result-set-data'][0]['id']}}" class="nav-link">Einstellungen</a>
            </li>
        </ul>
    {% endblock %}


        <!-- ################################################################################################################## -->
        <!--    Content Section, where alerts get displayed          -->
        <!-- ################################################################################################################## -->
        {% block content %}
            <!-- CONTENT -->
            <div class="container-fluid">

                <!-- Alert Section -->
                <div class="alert alert-success alert-dismissible fade show" role="alert" id="Dashboard-Alerts">
                    <!-- {{flashArea}} -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <!-- Close -->
                    <button type="button" class="btn-close" aria-label="Close"></button>
                </div>



                <!-- ################################################################################################################## -->
                <!--    Content Section, where Statistic Cards get displayed         -->
                <!-- ################################################################################################################## -->
                <!-- Card Wrapper -->
                <!-- Card Wrapper -->
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl">
                        <!-- Card -->
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center gx-0">
                                    <div class="col">
                                        <!-- Title -->
                                        <h6 class="text-uppercase text-muted mb-2">Aufgaben Anzahl</h6>
                                        <!-- Heading -->
                                        <span class="h2 mb-0"> 
                                        {% if project_tasks['count-result-set'] == null %}
                                            0
                                        {% elif project_tasks['count-result-set'] > 0 %}
                                            {{project_tasks['count-result-set']}}
                                        {% endif %}
                                        </span>                                
                                    </div>
                                    <div class="col-auto">
                                        <!-- Icon -->
                                        <span class="h2 fe fe-bar-chart text-muted mb-0"></span>
                                    </div>
                                </div> <!-- / .row -->
                            </div>
                        </div>
                    </div>


                    <!-- Card Wrapper -->
                    <div class="col-12 col-lg-6 col-xl">
                        <!-- Card -->
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center gx-0">
                                    <div class="col">
                                        <!-- Title -->
                                        <h6 class="text-uppercase text-muted mb-2">Erledigte Aufgabe</h6>
                                        <!-- Heading -->
                                        <span class="h2 mb-0">
                                        {% if count_finished['result-set-data'] == null %}
                                            0
                                        {% elif count_finished['result-set-data'] == 0 %}
                                            0
                                        {% elif count_finished['result-set-data'] > 0 %}
                                            {{count_finished['result-set-data'] }}
                                        {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <!-- Icon -->
                                        <span class="h2 fe fe-check-circle text-muted mb-0"></span>
                                    </div>
                                </div> <!-- / .row -->
                            </div>
                        </div>
                    </div>


                    <!-- Card Wrapper -->
                    <div class="col-12 col-lg-6 col-xl">
                        <!-- Card -->
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center gx-0">
                                    <div class="col">
                                        <!-- Title -->
                                        <h6 class="text-uppercase text-muted mb-2">Fortschritt</h6>        
                                        <div class="row align-items-center g-0">
                                            <div class="col-auto">
                                                <!-- Heading -->
                                                <span class="h2 me-2 mb-0">
                                                    {% if project_tasks_finished['count-result-set'] and project_tasks['count-result-set'] %}
                                                        {% set projects_finished_percent = ((project_tasks_finished['count-result-set'] / project_tasks['count-result-set'] *100) | round(1, 'floor'))%}
                                                        {{projects_finished_percent}} %
                                                    {% else %}
                                                        0%
                                                    {% endif %}
                                                </span>                      
                                            </div>
                                            <div class="col">
                                                <!-- Progress Bar -->
                                                <div class="progress progress-sm me-4">
                                                    <div class="progress-bar" role="progressbar" style='width: {% if projects_finished_percent %} {{projects_finished_percent}}% {% else %}0% {% endif %}' aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>    
                                                </div>
                                            </div>
                                        </div> <!-- / .row -->
                                    </div>

                                </div> <!-- / .row -->
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-lg-6 col-xl">
                        <!-- Card -->
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center gx-0">
                                    <div class="col">
                                        <!-- Title -->
                                        <h6 class="text-uppercase text-muted mb-2">Zeit seit Projektstart</h6> 
                                        <!-- Heading -->
                                        <span class="h2 mb-0">
                                            {% if project_diff_date_start_today%}
                                                {{project_diff_date_start_today['result-set-data']['Difference-of-Days']}} Tage
                                            {% else %}
                                                0 Tage
                                            {% endif %}
                                        </span>                                    
                                    </div>
                                    <div class="col-auto">
                                      <!-- Icon -->
                                      <span class="h2 fe fe-clock text-muted mb-0"></span>
                                  </div>
                                </div> <!-- / .row -->
                            </div>
                        </div>
                    </div>
                </div> <!-- / .row -->




                <!-- ################################################################################################################## -->
                <!--    Content Section, where Tasks are displayed         -->
                <!-- ################################################################################################################## -->
                <div class="row" >
                    <div class="col-12 col-xl-8">
                        <div class="container-fluid">
                            <div class="row" >
                                <div class="col-12" style="padding-left: 0px;">

                                    <!-- ------------------------------------------------------------------------------------------------------------------------ -->
                                    <!-- Section for Tasks that have status "to do" -->
                                    <!-- ------------------------------------------------------------------------------------------------------------------------ -->
                                    <!-- List group -->
                                    <div class="list-group list-group-lg list-group-flush">
                                        <div class="list-group-item">
                                            <!-- Header -->
                                            <div class="row align-items-center mb-4">
                                                <div class="col">
                                                    <!-- Heading -->
                                                    <h2 class="mb-0" >Zu erledigen</h2>
                                                </div>
                                            </div> <!-- / .row -->
                                            <!-- Category -->
                                            <div class="kanban-category" >
                                              {% if project_tasks_todo['result-set-data'] %}
                                                {% for task in project_tasks_todo['result-set-data'] %}
                                                        <!-- Card -->
                                                        <div id="" class="kanban-item" >
                                                            <div class="card card-sm mb-3" data-bs-toggle="modal" data-bs-target="#modalKanbanTask" >
                                                                <div class="card-body">
                                                                    <div class="row align-items-center">
                                                                        <div class="col-12 col-sm" >
                                                                            <!-- task name -->
                                                                            <p class="mb-0" style="padding-bottom: 8px;">                         
                                                                                <strong>{{ task['task_title'] }}</strong>                                                          
                                                                            </p>                 
                                                                            <!-- Body -->
                                                                            <p class="mb-sm-0">
                                                                              {{ task['task_description'] }}         
                                                                            </p>
                                                                        </div>
                                                                        <!-- Time -->
                                                                        <div class="col col-sm-auto">
                                                                            <p class="card-text small text-muted mb-0">           
                                                                                <i class="fe fe-clock" style="margin-right: 3px;"></i>   {{ task['task_terminator'] }}                       
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-auto">
                                                                          <!-- delete -->
                                                                          <i class="fe fe-trash-2 text-muted mb-0"></i>
                                                                        </div>
                                                                    </div> <!-- / .row -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                      {% endfor %}
                                                  {% endif %}
                                                </div>

                                        </div>
                                        <!-- ------------------------------------------------------------------------------------------------------------------------ -->
                                        <!-- Section for Tasks that have status "in progress" -->
                                        <!-- ------------------------------------------------------------------------------------------------------------------------ -->
                                        <div class="list-group-item">
                                            <!-- Header -->
                                            <div class="row align-items-center mb-4">
                                                <div class="col" >
                                                    <!-- Heading -->
                                                    <h2 class="mb-0">In Arbeit</h2>
                                                </div>
                                            </div> <!-- / .row -->
                                            <!-- Category -->
                                            <div class="kanban-category">
                                              {% if project_tasks_in_progress['result-set-data'] %}
                                                {% for task in project_tasks_in_progress['result-set-data'] %}
                                                        <!-- Card -->
                                                        <div id="" class="kanban-item" >
                                                            <div class="card card-sm mb-3" data-bs-toggle="modal" data-bs-target="#modalKanbanTask" >
                                                                <div class="card-body">
                                                                    <div class="row align-items-center">
                                                                        <div class="col-12 col-sm" >
                                                                            <!-- task name -->
                                                                            <p class="mb-0" style="padding-bottom: 8px;">                         
                                                                                <strong>{{ task['task_title'] }}</strong>                                                          
                                                                            </p>                 
                                                                            <!-- Body -->
                                                                            <p class="mb-sm-0">
                                                                              {{ task['task_description'] }}         
                                                                            </p>
                                                                        </div>
                                                                        <!-- Time -->
                                                                        <div class="col col-sm-auto">
                                                                            <p class="card-text small text-muted mb-0">           
                                                                                <i class="fe fe-clock" style="margin-right: 3px;"></i>   {{ task['task_terminator'] }}                       
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-auto">
                                                                          <!-- delete -->
                                                                          <i class="fe fe-trash-2 text-muted mb-0"></i>
                                                                        </div>
                                                                    </div> <!-- / .row -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                      {% endfor %}
                                                  {% endif %}
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- ################################################################################################################## -->
                    <!--    Section where project information are displayed         -->
                    <!-- ################################################################################################################## -->
                    <div class="col-12 col-xl-4">
                        <!-- Activity -->
                        <div class="card" style="margin-top: 25px;">
                            <div class="card-header">
                                <!-- Title -->
                                <h2 class="mb-0">Projektinformationen</h2>
                                <!-- Button -->
                                <a class="small" href="/projectsettings/{{current_project['result-set-data'][0]['id']}}">Bearbeiten</a>
                            </div>

                            <div class="card-body">
                                <!-- Text -->
                                <p class="small text-gray-700 mb-0" style="padding-bottom: 5px;">Projektname</p>                <!-- todo -->
                                <!-- task description -->
                                <p style="margin-bottom: 22px;">{{current_project['result-set-data'][0]['project_title']}}</p>                                              <!-- todo -->
                                <!-- Text -->
                                <p class="small text-gray-700 mb-0" style="padding-bottom: 5px;">Projekbeschreibung</p>         <!-- todo -->
                                <!-- task description -->
                                <p style="margin-bottom: 30px;">                                                                <!-- todo -->
                                  {{current_project['result-set-data'][0]['project_description']}} 
                                </p>
                                <!-- List group -->
                                <div class="list-group list-group-flush list-group-activity my-n3">
                                    <div class="list-group-item">
                                        <div class="row">
                                            <div class="col-auto">
                                                <!-- Avatar -->
                                                <div class="avatar avatar-sm">
                                                    <div class="avatar-title fs-lg bg-primary-soft rounded-circle text-primary">
                                                        <i class="fe fe-compass"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col ms-n2">
                                                <!-- Heading -->
                                                <h5 class="mb-1" style="font-size: 1em;">{{current_project['result-set-data'][0]['project_start_date']}}</h5>                    <!-- todo -->
                                                <!-- Text -->
                                                <p class="small text-gray-700 mb-0">Startdatum</p>
                                            </div>
                                        </div> <!-- / .row -->
                                    </div>
                                    <div class="list-group-item">
                                        <div class="row">
                                            <div class="col-auto">
                                                <!-- Avatar -->
                                                <div class="avatar avatar-sm">
                                                    <div class="avatar-title fs-lg bg-primary-soft rounded-circle text-primary">
                                                        <i class="fe fe-award"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col ms-n2">
                                                <!-- Heading -->
                                                <h5 class="mb-1" style="font-size: 1em;">{{current_project['result-set-data'][0]['project_terminator']}}</h5>                    <!-- todo -->
                                                <!-- Text -->
                                                <p class="small text-gray-700 mb-0">vorraussichtliches Projektende</p>
                                            </div>
                                        </div> <!-- / .row -->
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- / .row -->
            </div>
        {% endblock %}
 

