<!-- ################################################################################################################## -->
<!--                                        Section for general Configuration                                           -->
<!-- ################################################################################################################## -->
{% extends "main/base.project.html" %} 
{% block title %}Kanban{% endblock %}

{% block projectnavigation %}
<ul class="nav nav-tabs nav-overflow header-tabs">
  <li class="nav-item">
    <a href="/dashboard/{{current_project['result-set-data'][0]['id']}}" class="nav-link">
      Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a href="/kanban/{{current_project['result-set-data'][0]['id']}}" class="nav-link active">
      Kanban
    </a>
  </li>
  <li class="nav-item">
    <a href="/statistics/{{current_project['result-set-data'][0]['id']}}" class="nav-link">
      Statistik
    </a>
  </li>
  <!-- <li class="nav-item">
                <a href="/projectsettings/{{current_project['id']}}" class="nav-link">Einstellungen</a>
    </li> -->
</ul>
{% endblock %}

{% block navbuttongroup %}
<div class="col-12 col-md-auto mt-3 mt-md-0">

   <!-- new task button -->
   <a href="/newtask/{{current_project['result-set-data'][0]['id']}}">
    <button 
        type="button" 
        class="btn btn-primary" 
        style="padding-left: 25px; padding-right: 25px; margin-right:15px"
        >
        Aufgabe hinzufügen
    </button>
    </a>

<!-- Navigation (button group) -->
  <div class="nav btn-group d-inline-flex" role="tablist">
   <button class="btn btn-white active" id="kanbanColumnsToggle" data-bs-toggle="tab" data-bs-target="#kanbanColumns" role="tab" aria-controls="kabbanColumns" aria-selected="true">
     <span class="fe fe-grid"></span>
   </button>
   <button class="btn btn-white" id="kanbanListToggle" data-bs-toggle="tab" data-bs-target="#kanbanList" role="tab" aria-controls="kanbanList" aria-selected="false">
     <span class="fe fe-list"></span>
   </button>
 </div> <!-- / .nav -->
 </div>
{% endblock %}

{% block content %}

      <!-- CONTENT -->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="kanbanColumns" role="tabpanel" aria-labelledby="kanbanColumnsToggle">
          <div class="container-fluid kanban-container">
            <div class="row">
              <div class="col-12">

                <!-- Card -->
                <div class="card">
                  <div class="card-header card-header-flush">

                    <!-- Title -->
                    <h4 class="card-header-title">
                      Zu erledigen
                    </h4>

                  </div>
                  <div class="card-body">

                    <!-- Category -->
                    <div class="kanban-category">
                  {% if project_tasks_todo['result-set-data'] %}
                    {% for task in project_tasks_todo['result-set-data'] %}
                    <!-- Card -->
                    <div id="{{task['id']}}" class="kanban-item2 delete-task-fnc">
                      <div class="card card-sm mb-3" data-bs-toggle="modal" data-bs-target="#modalKanbanTask">
                        <div class="card-body">
                          <!-- task name -->
                          <p class="mb-0" style="padding-bottom: 8px;">
                            <strong>{{ task['task_title'] }}</strong> 
                          </p>
                          <!-- task description -->
                          <p>
                            {{ task['task_description'] }} 
                          </p>
                          <!-- Footer -->
                          <div class="row align-items-center">
                            <div class="col">
                              <!-- Time -->
                              <p class="card-text small text-muted">
                                <i class="fe fe-clock" style="margin-right: 3px;"></i> {{ task['task_terminator'] }}
                              </p>
                            </div>
                            <div class="col-auto">
                              <!-- update -->
                              <a href="/update-task">
                              <i class="fe fe-edit"></i>
                              </a>
                            </div>
                          </div> <!-- / .row -->
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  {% endif %}

                    </div> <!-- end kanban -->

                  </div>
                </div>

              </div>
              <div class="col-12">

                <!-- Card -->
                <div class="card">
                  <div class="card-header card-header-flush">

                    <!-- Title -->
                    <h4 class="card-header-title">
                      In Arbeit
                    </h4>

                  </div>
                  <div class="card-body">

                    <!-- Category -->
                    <div class="kanban-category">

                      {% if project_tasks_in_progress['result-set-data'] %}
                      {% for task in project_tasks_in_progress['result-set-data'] %}
                      <!-- Card -->
                      <div id="{{task['id']}}" class="kanban-item2">
                        <div class="card card-sm mb-3" data-bs-toggle="modal" data-bs-target="#modalKanbanTask">
                          <div class="card-body">
                            <!-- task name -->
                            <p class="mb-0" style="padding-bottom: 8px;">
                              <strong>{{ task['task_title'] }}</strong> 
                            </p>
                            <!-- task description -->
                            <p>
                              {{ task['task_description'] }} 
                            </p>
                            <!-- Footer -->
                            <div class="row align-items-center">
                              <div class="col">
                                <!-- Time -->
                                <p class="card-text small text-muted">
                                  <i class="fe fe-clock" style="margin-right: 3px;"></i> {{ task['task_terminator'] }}
                                </p>
                              </div>
                              <div class="col-auto">
                                <!-- update -->
                                <a href="/update-task">
                                <i class="fe fe-edit"></i>
                                </a>
                              </div>
                            </div> <!-- / .row -->
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    {% endif %}

                    </div>

                  </div>
                </div>

              </div>
              <div class="col-12">

                <!-- Card -->
                <div class="card">
                  <div class="card-header card-header-flush">

                    <!-- Title -->
                    <h4 class="card-header-title">
                      Fertig
                    </h4>

                  </div>
                  <div class="card-body">

                    <!-- Category -->
                    <div class="kanban-category">

                      {% if project_tasks_finished['result-set-data'] %}
                      {% for task in project_tasks_finished['result-set-data'] %}
                      <!-- Card -->
                      <div id="{{task['id']}}" class="kanban-item2">
                        <div class="card card-sm mb-3" data-bs-toggle="modal" data-bs-target="#modalKanbanTask">
                          <div class="card-body">
                            <!-- task name -->
                            <p class="mb-0" style="padding-bottom: 8px;">
                              <strong>{{ task['task_title'] }}</strong> 
                            </p>
                            <!-- task description -->
                            <p>
                              {{ task['task_description'] }} 
                            </p>
                            <!-- Footer -->
                            <div class="row align-items-center">
                              <div class="col">
                                <!-- Time -->
                                <p class="card-text small text-muted">
                                  <i class="fe fe-clock" style="margin-right: 3px;"></i> {{ task['task_terminator'] }}
                                </p>
                              </div>
                              <div class="col-auto">
                                <!-- update -->
                                <a href="/update-task">
                                <i class="fe fe-edit"></i>
                                </a>
                              </div>
                            </div> <!-- / .row -->
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    {% endif %}

                    </div>
                  </div>
                </div>
              </div>             
            </div> <!-- / .row -->
          </div>
        </div>

        <!-- andere Darstellung -->
        <div class="tab-pane fade" id="kanbanList" role="tabpanel" aria-labelledby="kanbanListToggle">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">

                <!-- List group -->
                <div class="list-group list-group-lg list-group-flush">
                  <div class="list-group-item">

                    <!-- Header -->
                    <div class="row align-items-center mb-4">
                      <div class="col">

                        <!-- Heading -->
                        <h2 class="mb-0">Zu erledigen</h2>

                      </div>
                     
                    </div> <!-- / .row -->

                    <!-- Category -->
                    <div class="kanban-category">

                      <!-- Card -->
                      {% if project_tasks_todo['result-set-data'] %}
                      {% for task in project_tasks_todo['result-set-data'] %}
                              <!-- Card -->
                              <div id="" class="kanban-item2" >
                                  <div class="card card-sm mb-3" data-bs-toggle="modal" data-bs-target="#modalKanbanTask" >
                                      <div class="card-body">
                                          <div class="row align-items-center">
                                              <div class="col-12 col-sm" >
                                                  <!-- task name -->
                                                  <p class="mb-0" style="padding-bottom: 8px;">                         
                                                      <strong>{{ task['task_title'] }}</strong>                                                          
                                                  </p>                 
                                                  <!-- Body -->
                                                  <p class="mb-sm-0">
                                                    {{ task['task_description'] }}         
                                                  </p>
                                              </div>
                                              <!-- Time -->
                                              <div class="col col-sm-auto">
                                                  <p class="card-text small text-muted mb-0">           
                                                      <i class="fe fe-clock" style="margin-right: 3px;"></i>   {{ task['task_terminator'] }}                       
                                                  </p>
                                              </div>
                                              <div class="col-auto">
                                                <!-- update -->
                                                <a href="/update-task">
                                                <i class="fe fe-edit"></i>
                                                </a>
                                              </div>
                                          </div> <!-- / .row -->
                                      </div>
                                  </div>
                              </div>
                            {% endfor %}
                        {% endif %}

                    </div>

                  </div>
                  <div class="list-group-item">

                    <!-- Header -->
                    <div class="row align-items-center mb-4">
                      <div class="col">

                        <!-- Heading -->
                        <h2 class="mb-0">In Arbeit</h2>

                      </div>
                      <div class="col-auto">

                      </div>
                    </div> <!-- / .row -->

                    <!-- Category -->
                    <div class="kanban-category">
            
                      {% if project_tasks_in_progress['result-set-data'] %}
                      {% for task in project_tasks_in_progress['result-set-data'] %}
                              <!-- Card -->
                              <div id="" class="kanban-item2" >
                                  <div class="card card-sm mb-3" data-bs-toggle="modal" data-bs-target="#modalKanbanTask" >
                                      <div class="card-body">
                                          <div class="row align-items-center">
                                              <div class="col-12 col-sm" >
                                                  <!-- task name -->
                                                  <p class="mb-0" style="padding-bottom: 8px;">                         
                                                      <strong>{{ task['task_title'] }}</strong>                                                          
                                                  </p>                 
                                                  <!-- Body -->
                                                  <p class="mb-sm-0">
                                                    {{ task['task_description'] }}         
                                                  </p>
                                              </div>
                                              <!-- Time -->
                                              <div class="col col-sm-auto">
                                                  <p class="card-text small text-muted mb-0">           
                                                      <i class="fe fe-clock" style="margin-right: 3px;"></i>   {{ task['task_terminator'] }}                       
                                                  </p>
                                              </div>
                                              <div class="col-auto">
                                                <!-- update -->
                                                <a href="/update-task">
                                                <i class="fe fe-edit"></i>
                                                </a>
                                              </div>
                                          </div> <!-- / .row -->
                                      </div>
                                  </div>
                              </div>
                            {% endfor %}
                        {% endif %}

                    </div>

                  </div>
                  <div class="list-group-item">

                    <!-- Header -->
                    <div class="row align-items-center mb-4">
                      <div class="col">

                        <!-- Heading -->
                        <h2 class="mb-0">Fertig</h2>

                      </div>
                      <div class="col-auto">

                      </div>
                    </div> <!-- / .row -->

                    <!-- Category -->
                    <div class="kanban-category">

                      {% if project_tasks_finished['result-set-data'] %}
                      {% for task in project_tasks_finished['result-set-data'] %}
                              <!-- Card -->
                              <div id="" class="kanban-item2" >
                                  <div class="card card-sm mb-3" data-bs-toggle="modal" data-bs-target="#modalKanbanTask" >
                                      <div class="card-body">
                                          <div class="row align-items-center">
                                              <div class="col-12 col-sm" >
                                                  <!-- task name -->
                                                  <p class="mb-0" style="padding-bottom: 8px;">                         
                                                      <strong>{{ task['task_title'] }}</strong>                                                          
                                                  </p>                 
                                                  <!-- Body -->
                                                  <p class="mb-sm-0">
                                                    {{ task['task_description'] }}         
                                                  </p>
                                              </div>
                                              <!-- Time -->
                                              <div class="col col-sm-auto">
                                                  <p class="card-text small text-muted mb-0">           
                                                      <i class="fe fe-clock" style="margin-right: 3px;"></i>   {{ task['task_terminator'] }}                       
                                                  </p>
                                              </div>
                                              <div class="col-auto">
                                                <!-- update -->
                                                <a href="/update-task">
                                                <i class="fe fe-edit"></i>
                                                </a>
                                              </div>
                                          </div> <!-- / .row -->
                                      </div>
                                  </div>
                              </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                  </div>
                </div>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>
      </div>

    {% endblock %}

</html>
