<!-- ################################################################################################################## -->
<!--                                        Section for general Configuration                                           -->
<!-- ################################################################################################################## -->
{% extends "main/base.userview.html" %} 
{% block title %}Dein Profil{% endblock %}
{% block content %}

  <!-- MAIN CONTENT -->
    <div class="main-content">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 col-xl-8">

            <!-- Header -->
            <div class="header mt-md-5">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Pretitle -->
                    <h6 class="header-pretitle">
                      Übersicht
                    </h6>

                    <!-- Title -->
                    <h1 class="header-title">
                      Dein Profil
                    </h1>

                  </div>
                </div> <!-- / .row -->
                <div class="row align-items-center">
                  <div class="col">
                  </div>
                </div>
              </div>
            </div>

            <!-- Form -->
            <form>

              <div class="row justify-content-between align-items-center">
                <div class="col">
                  <div class="row align-items-center">
                    <div class="col-auto">

                      <!-- Avatar -->
                      <div class="avatar">
                        <img class="avatar-img rounded-circle" src="{{url_for('static', filename='assets/img/avatars/profiles/davidpersin.jpg')}}" alt="...">
                      </div>

                    </div>
                    <div class="col ms-n2">

                      <!-- Text -->
                      <small class="text-muted">
                        Name
                      </small>
                      <!-- Heading -->
                      <h4 class="mb-1" style="font-size: 1.2em;">
                        David Persin
                      </h4>

                    </div>
                  </div> <!-- / .row -->
                </div>
                <div class="col-auto">

                  <!-- Button -->
                  <button class="btn btn-sm btn-primary">
                    Einstellungen
                  </button>

                </div>
              </div> <!-- / .row -->

              <!-- Divider -->
              <hr class="my-5">

              <div class="row">
                <div class="col-12 col-md-6">

                  <!-- Text -->
                  <small class="text-muted">
                    Email Adresse
                  </small>
                  <!-- Heading -->
                  <h4 class="mb-1" style="font-size: 1em;">
                    david.persin01@gmail.com
                  </h4>

                </div>
                <div class="col-12 col-md-6">

                 <!-- Text -->
                 <small class="text-muted">
                  Telefonnummer
                </small>
                <!-- Heading -->
                <h4 class="mb-1" style="font-size: 1em;">
                  015751216964
                </h4>

                </div>
                <div class="col-12" style="margin-top: 25px;">

                 <!-- Text -->
                 <small class="text-muted">
                  Geburtsdatum
                </small>
                <!-- Heading -->
                <h4 class="mb-1" style="font-size: 1em;">
                  28.01.2001
                </h4>

                </div>
               
              
              </div> <!-- / .row -->

              

              <!-- Divider -->
              <hr class="mt-4 mb-5">

              <div class="row justify-content-between">
                <div class="col-12 col-md-6">

                  <!-- Heading -->
                  <h4>
                    Account löschen
                  </h4>

                  <!-- Text -->
                  <p class="small text-muted mb-md-0">
                    Bitte beachten Sie, dass das Löschen Ihres Kontos eine dauerhafte Aktion ist und nach Abschluss nicht wiederhergestellt werden kann.
                  </p>

                </div>
                <div class="col-auto">

                  <!-- Button -->
                  <button class="btn btn-danger">
                    Löschen
                  </button>

                </div>
              </div> <!-- / .row -->

            </form>

            <br><br>

          </div>
        </div> <!-- / .row -->
      </div>

    </div> <!-- / .main-content -->

    {% endblock %}

</html>
