<!-- ################################################################################################################## -->
<!--                                        Section for general Configuration                                           -->
<!-- ################################################################################################################## -->
{% extends "main/base.userview.html" %} 
{% block title %}Profil bearbeiten{% endblock %}
{% block content %}

  <!-- MAIN CONTENT -->
    <div class="main-content">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 col-xl-8">

            <!-- Header -->
            <div class="header mt-md-5">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Pretitle -->
                    <h6 class="header-pretitle">
                      Einstellungen
                    </h6>

                    <!-- Title -->
                    <h1 class="header-title">
                      Profil bearbeiten
                    </h1>

                  </div>
                </div> <!-- / .row -->
                <div class="row align-items-center">
                  <div class="col">
                  </div>
                </div>
              </div>
            </div>

            <!-- Form -->
            <form>

              <div class="row justify-content-between align-items-center">
                <div class="col">
                  <div class="row align-items-center">
                    <div class="col-auto">

                      <!-- Avatar -->
                      <div class="avatar">
                        <img class="avatar-img rounded-circle" src="{{url_for('static', filename='assets/img/avatars/profiles/astronaut.png')}}" alt="...">
                      </div>

                    </div>
                    <div class="col ms-n2">

                      <!-- Heading -->
                      <h4 class="mb-1">
                        {{current_user.firstname}} {{current_user.lastname}}
                      </h4>

                    </div>
                  </div> <!-- / .row -->
                </div>
                <div class="col-auto">

                </div>
              </div> <!-- / .row -->

              <!-- Divider -->
              <hr class="my-5">

              <div class="row">
                <div class="col-12 col-md-6">

                  <!-- First name -->
                  <div class="form-group">

                    <!-- Label -->
                    <label class="form-label">
                      Vorname
                    </label>

                    <!-- Input -->
                    <input type="text" class="form-control" placeholder="{{current_user.firstname}}">

                  </div>

                </div>
                <div class="col-12 col-md-6">

                  <!-- Last name -->
                  <div class="form-group">

                    <!-- Label -->
                    <label class="form-label">
                      Nachname
                    </label>

                    <!-- Input -->
                    <input type="text" class="form-control" placeholder="{{current_user.lastname}}">

                  </div>

                </div>
                <div class="col-12">

                  <!-- Email address -->
                  <div class="form-group">

                    <!-- Label -->
                    <label class="form-label">
                      Email-Adresse
                    </label>

                    <!-- Input -->
                    <input type="email" class="form-control" placeholder="{{current_user.email}}">

                  </div>

                </div>


              </div> <!-- / .row -->

              <!-- Button -->
              <button class="btn btn-primary" style="margin-top: 10px;">
                Änderungen speichern
              </button>

              <!-- Divider -->
              <hr class="mt-4 mb-5">

            </form>

            <br><br>

          </div>
        </div> <!-- / .row -->
      </div>

    </div> <!-- / .main-content -->

    {% endblock %}

</html>
